*{
    margin: 0px;
    padding: 0px;
}    
.parent1{
    height: 30vh;
    padding: 200px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image{
    padding-top: 50px;
    width: 460px;
    
}
.paragraph{
    width: 50%;
    font-size: 18px;
    font-weight: 400;
    padding-top:  20px;
    padding-bottom: 20px;
    color: #3c3737;
    /* text-shadow: 1px 2px  rgb(69, 69, 69); */
}
.paragraph1{
    padding-bottom: 30px;
}  
.btn{
    border-radius: 4px;
    background: #E55473;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    color: white;
    padding: 15px 35px;
    
}
.headline{
    font-size: 80px;
    font-weight: 800;
    
}
.parent2{
    
    text-align: center;

}
.headline1{
    padding: 30px;
    font-size: 35px;
}
.parent2{
    font-size: 18px;
}
.parent3{
    padding-bottom: 100px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.parent4{
    height: 100vh;
    background: url("Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-position: center;

}
.parent5{
    padding: 200px;
    text-align: center;
}
.input{
    padding: 18px 35px;
    border: 1px solid #efc9af;
    border-radius: 4px;
    background-color: #ebeced

}
.parent6{
    display: flex;
    justify-content: center;
    gap: 20px;
}